<section class="container">

    <section class="img-section">

        <a href="<%=books.url%>" target="_blank"><img src="<%= books.img %>" alt="Book Image"></a>
        
    </section>
        
    <h3>
        <%= books.title %>
    </h3>
        
    <h4>
        <%= books.author %>
    </h4>
        
    <h4>
        <%= books.isbn %>
    </h4>
        
    <h4>
        Book Shelf: <%= books.offshelf %>
    </h4>
        
    <p>
        <%= books.description %>
    </p>


</section>