<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Book App </title>
    <link rel="stylesheet" href="../../../styles/reset.css">
    <link rel="stylesheet" href="../../../styles/base.css">
    <link rel="stylesheet" href="../../../styles/layout.css">
    <link rel="stylesheet" href="../../../styles/modules.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/1224b18e51.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->


</head>

<body>

    <header>

        <nav role="navigation">



            <div id="menuToggle">

                <input type="checkbox" />

                <span></span>
                <span></span>
                <span></span>


                <ul id="menu">
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="searches/new">
                        <li>Search</li>
                    </a>
                </ul>
            </div>
        </nav>

        <div class="h1">

            <h1>
                Search Results
            </h1>

        </div>



    </header>
    <main>

        <div class="new_header">

            <h2>Search Result</h2>

        </div>



        <% book.forEach(e=>{ %>

            <section class="container">

                <section class="img-section">

                    <a href="<%=e.url%>" target="_blank"><img src="<%= e.img %>" alt="Book Image"></a>

                </section>

                <h3>
                    <%= e.title %>
                </h3>

                <h4>
                    <%= e.author %>
                </h4>

                <p>
                    <%= e.description %>
                </p>

            </section>

            <% }) %>



    </main>

    <footer>
        <ul>
            <li><a href="https://www.linkedin.com/in/omar-ewies/" target="_blank"> <i class="fab fa-linkedin"></i>LinkedIn</a></li>

            <li><a href="https://github.com/oebitw" target="_blank"> <i class="fab fa-github"></i> GitHub</a></li>

            <li><a href="https://stackoverflow.com/users/story/15214052?newreg=a8ee98c0d013469399765dd01ea37366"target="_blank"><i class="fab fa-stack-overflow"></i> Stack Overflow</a> </li>


        </ul>
    </footer>

</body>

</html>