<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/head') %>

    <body>

        <%- include('../../layout/header') %>


            <main>

                <div class="new_header">

                    <h2>Search Result</h2>

                </div>



                <% book.forEach(e=>{ %>

                    <section class="container">

                        <section class="img-section">

                            <a href="<%=e.url%>" target="_blank"><img src="<%= e.img %>" alt="Book Image"></a>
                        
                        </section>
                        
                        <h3>
                            <%= e.title %>
                        </h3>
                        
                        <h4>
                            <%= e.author %>
                        </h4>
                        
                        <h4>
                            <%= e.isbn %>
                        </h4>
                        
                        <h4>
                            Book Shelf: <%= e.offShelf%>
                        </h4>
                        
                        <p>
                            <%= e.description %>
                        </p>




                        <form action='/books' method="POST" class="form2">
                            <input name="title" value="<%= e.title %>" class="hidden">
                            <input name="author" value="<%= e.author %>" class="hidden">
                            <input name="description" value="<%= e.description %>" class="hidden">
                            <input name="img" value="<%= e.img %>" class="hidden">
                            <input name="isbn" value="<%= e.isbn %>" class="hidden">
                            <input name="offShelf" value="<%= e.offShelf %>" class="hidden">
                            <input name="url" value="<%= e.url %>" class="hidden">
                            <button type="submit">Select This Book</button>


                        </form>




                    </section>

                    <% }) %>




            </main>

            <%- include('../../layout/footer') %>

    </body>

</html>