<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

  <body>

    <%- include('../layout/header') %>

      <main>

        <h1>
          Number of Books : <%= count %>
                
        
        </h1>

        <% books.forEach(e=>{ %>
          <section class="container">


            <section class="img-section">

              <a href="<%=e.url%>" target="_blank"><img src="<%= e.img %>" alt="Book Image"></a>

            </section>

            <h3>
              <%= e.title %>
            </h3>

            <h4>
              <%= e.author %>
            </h4>

            <button type="button"><a href="/books/<%=e.id%>">View Details</a> </button>


          </section>

          <% }); %>




      </main>


      <script src="../../js/app.js"></script>
  </body>

</html>